<% @page_header="FAQ" %>
<% @page_title="FAQ" %>

<h4>
  What do I do if the universe explodes?
</h4>

<p>
  Duck and Cover! ueinrgiun,euinvbiun iurtnunuh awsiudhyfg iqueybnrvnuri, vgfiu rnuienri oviurfgn eiru  iur ngfiueqrn iqeu ruqerio unqer viuer nviqeu rnviqeur nvnqueir ngvfiqeurn vique rnviquerbf vqieurbfvqeiru i qerug qer giuqner viq eurvhqierh vqeurin,voq ernvq eoruvnq eoriuvn, queionr vq ero.
</p>
<br />

<h4>
  What if I find a banana that is purple?
</h4>

<p>
  The universe has exploded. Please refer to FAQ for information about what to do in this situation. ueinrgiun,euinvbiun iurtnunuh awsiudhyfg iqueybnrvnuri, vgfiu rnuienri oviurfgn eiru  iur ngfiueqrn iqeu ruqerio unqer viuer nviqeu rnviqeur nvnqueir ngvfiqeurn vique rnviquerbf vqieurbfvqeiru i qerug qer giuqner viq eurvhqierh vqeurin,voq ernvq eoruvnq eoriuvn, queionr vq ero.
</p>
<br />

<h4>
  What do I do if one of the developers is chasing me?
</h4>

<p>
  Throw money at them and run. Developers are often distracted at the sight of money. ueinrgiun,euinvbiun iurtnunuh awsiudhyfg iqueybnrvnuri, vgfiu rnuienri oviurfgn eiru  iur ngfiueqrn iqeu ruqerio unqer viuer nviqeu rnviqeur nvnqueir ngvfiqeurn vique rnviquerbf vqieurbfvqeiru i qerug qer giuqner viq eurvhqierh vqeurin,voq ernvq eoruvnq eoriuvn, queionr vq ero.
</p>
<br />

<h4>
  What if I can not find the answer to one of my problems?
</h4>

<p>
  Don't ask a developer. They are often grumpy and require money and coffee to function. Go bother Greg Heileman. ueinrgiun,euinvbiun iurtnunuh awsiudhyfg iqueybnrvnuri, vgfiu rnuienri oviurfgn eiru  iur ngfiueqrn iqeu ruqerio unqer viuer nviqeu rnviqeur nvnqueir ngvfiqeurn vique rnviquerbf vqieurbfvqeiru i qerug qer giuqner viq eurvhqierh vqeurin,voq ernvq eoruvnq eoriuvn, queionr vq ero.
</p>
<br />
