<<<<<<< HEAD
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active text-center">
      <%= image_tag "challenge.jpg" %>
      Welcome to Yak Yik!
    </div>

    <div class="item text-center">
      Sign up and get started!
    </div>

    <div class="item text-center">
      Featured Challenges
    </div>

    <div class="item text-center">
      ahhh yeah Yak Yik is so cool!
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
=======
 	 <div class="container-spacing2 text-center">
		 <h1 class="intro"> Welcome To Yak Yik!
		 </h1>
		 
		 
	 </div>
	 <div class="container-spacing1 bg-2 ">
	 	<h2 class="second"> Don't Miss the Race of the Century!	
		</h2>
	
	</div>
	
	<div class="container-spacing2 bg-1">
		<h2 class="second"> Third!</h2>
		
	
	</div>
	
>>>>>>> remotes/ewats13/webarchitecturef2015/master
