


<nav class="navbar navbar-default navbar-custom navbar-fixed-top" role="navigation">

  <div class="row">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "YakYik", root_path, class: "navbar-brand" %>
      </div>
      <ul class="nav navbar-nav navbar-right">

		  <% if user_signed_in? %>
  		  <li><%= link_to destroy_user_session_path, method: :delete do%><span class="glyphicon glyphicon-log-out"></span> Logout<% end %></li>
		  <% else%>
        <li><%= link_to new_user_registration_path do %><span class="glyphicon glyphicon-user"></span> Sign Up<% end %></li>
        <li><%= link_to new_user_session_path do %><span class="glyphicon glyphicon-log-in"></span> Login<% end %></li>
  		<% end %>
      </ul>
    </div>

    <div class="row">
      <div class="container-fluid collapse navbar-collapse" id="myNavbar">

        <ul class="nav navbar-nav navbar-right list">



          <li><%= link_to "Stats",                    '#' %></li>
          <li><%= link_to "FAQ",                      faq_path %></li>
        </ul>

      </div>
    </div>
  </div>

</nav>
